{% extends 'base.html' %}

{% block content %}
<h3>配置</h3>
<form method="post">
    <label for="path" class="tooltip" data-tooltip="文件夹的全路径或者cid值，也可以直接贴浏览器地址">同步路径:</label><br>
    <input type="text" id="path" name="path" required><br><br>
    <label for="extensions" class="tooltip" data-tooltip="需要同步的文件后缀, 留空则为默认值">同步后缀:</label><br>
    <input type="text" id="extensions" name="extensions"><br><br>
    <!--
    <label for="create_strm">生成strm:</label><br>
    <input type="checkbox" id="create_strm" name="create_strm"><br><br>
    -->
    <input class="submit" type="submit" value="提交">
</form>
{% endblock %}
