{% extends 'base.html' %}

{% block content %}
<h3>配置</h3>
<form method="post">
    <label for="path" class="tooltip" data-tooltip="文件夹的全路径或者cid值，也可以直接贴浏览器地址">同步路径:</label><br>
    <input type="text" id="path" name="path" required><br><br>

    <label class="tooltip" data-tooltip="需要同步的文件类型, 默认全同步">同步类型:</label><br>

    <!-- 给每个checkbox的容器添加相同的class -->
    <div class="checkbox-group">
        <div>
            <input type="checkbox" name="video" id="video" value="1" checked class="styled-checkbox">
            <label for="video">视频</label>
        </div>
        <div>
            <input type="checkbox" name="image" id="image" value="1" checked class="styled-checkbox">
            <label for="image">图片</label>
        </div>
        <div>
            <input type="checkbox" name="nfo" id="nfo" value="1" checked class="styled-checkbox">
            <label for="nfo">nfo</label>
        </div>
        <div>
            <input type="checkbox" name="subtitle" id="subtitle" value="1" checked class="styled-checkbox">
            <label for="subtitle">字幕</label>
        </div>
    </div><br>

    <input class="submit" type="submit" value="提交">
</form>
{% endblock %}
